<form action="/pokemon" method="POST">
  <input type="text" name="name" placeholder="name"/>
  <input type="text" name="affinity" placeholder="type"/>
  <button type="submit">Create Pokemon</button>
</form>