Create A New Pokemon

<form action="/pokemon" method="POST">
  <input type="text" name="pokemonName" placeholder="Pokemon Name" />
  <input type="text" name="pokemonAffinity" placeholder="Pokemon Type" />
  <button type="submit">Create Pokemon</button>
</form>